@charset "utf-8";
@import "normalize";

body {margin-top: 2rem;}

$menu-background: black;

.title-bar {
  background: $menu-background;
  padding: 0.9rem;
}

.top-bar {
  background: $menu-background;

  ul {
    background: $menu-background;

    li {
      background: $menu-background;

        a {
          color: #fff;
      }
    }
  }
}

body {
  background-color: black;
  text-align: center;
}
