@charset "utf-8";
@import "normalize";

body {margin-top: 2rem;}

$menu-background: black;

.title-bar {
  background: $menu-background;
}

.top-bar {
  background: $menu-background;

  ul {
    background: $menu-background;

    li {
      background: $menu-background;

        a {
          color: #fff;
      }
    }
  }
}

body {
  background-color: black;
  text-align: center;

}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: #333333;
}

/* selected link */
a:active {
    color: black;
}

.footer {

  background-color: black;
  font-size: 18px;
  width: 500px;
  border: 1px solid black;
  text-align: left;
  position: fixed;
  bottom: 0;
  width: 100px;
  height: 50px; /* choose any height */
  margin-left: 30px;

}

  .container {
    width: 1830px;
    overflow: hidden;
}

  .contactinfo {
    width: 300px;
    float:left;
}

  .socialmedia {
    opacity: 0.5;
    width: 300px;
    text-align: right;
    overflow: hidden;
    float:right;
    padding-bottom: 100px;
    margin-bottom: 30px;
    margin-top: -13px;
}
.size-36{
  font-size: 36px;
}
