.footer
  .container
    .contactinfo
      Contact info: +46735904739

    .socialmedia
      %i.step.fi-social-instagram.size-36
      %i.step.fi-social-facebook.size-36
      %i.step.fi-social-github.size-36
      %i.step.fi-social-youtube.size-36
