
%h3 Hi there!

%br My name is Viktoria.
%br nwdfibwskefgwleuyflyusKDBCLFIEYGoidhwiouh
%br jsbflisgdflugsflhsfhlöwDJOHÖOAUWEGHFIÖAUEGF
%br khdfkhfälihjdädnöoiawhöeiouwgfpöiawugf
%br sdlföfshööodihwöaouhaöoeughdföaeouw
%br wjfaliwuehfgödbcföiqeuwhfdliuawegfliuwge

:javascript
$( document ).ready(function() {
('jag.jpg').fadeIn(1000);
}

.photo
  = image_tag 'jag.jpg'
